@media (min-width: 640px) {
    nav ul {
        flex-direction: row;
        display: flex;
    }
    nav ul li {
        padding: 0 15px;
    }
    main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .hamburger {
        display: none;
    }
    .card {
        margin-bottom: 0;
    }
    
}
